body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#timer {
    font-size: 24px;
    margin-bottom: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card img {
    display: none;
    width: 80%;
    height: 80%;
}

.card.flipped img {
    display: block;
}

#restart-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* 모바일 환경을 위한 미디어 쿼리 */
@media (max-width: 600px) {
    #game-board {
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(4, 100px);
    }
}

